/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body, p, div{
    letter-spacing: -0.02px;
    font-family: 'Roboto', sans-serif;
    color: #1F1913;
}

/* Container border and shadow */
.border {
    margin: 16%;
    border: 1px solid #EEEEEE;
    border-radius: 25px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}
@media (min-width: 991px) {
    .border {
        margin: 10% 30% 30% 30%
    }
}

h1 {
    text-align: center;
    margin-top: 7%;
}

/* Main container */
.container {
    margin: 0 10% 4% 10%;
    padding: 0 20px 20px 20px;
}

.address-name {
    color: #7F8487;
    padding-top: 25px;
    font-size: 18px;
}
.address-name:nth-child(1) {
    padding-top: 14px;
}

.address-street {
    margin-top: 3px;
}